mat-sidenav-container{
  height: 100%;
}

mat-sidenav{
  padding: 16px;
}

mat-sidenav{
  height: 100%;
  width: 30%;
}

mat-card{
  margin-top: 20px;
}

mat-card-title{
  display: inline-flex;
  width: 100%;
}

mat-card-title > button{
  width: min-content;
  margin-left: auto;
}


#content{
  margin-left: 20px;
  margin-right: 20px;
}

table{
  width: 100%;
}

tr > td{
  text-align: start;
}

tr > td:last-child{
  text-align: end;
}


