<mat-toolbar color="warn">
  <h2 mat-dialog-title>Elimnar tarea</h2>
  <button mat-icon-button mat-dialog-close class="example-icon">
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>

<mat-dialog-content>
  <mat-icon>report_problem</mat-icon>
  <span>Esta acción no puede deshacerse</span>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close>Cancel</button>
  <button mat-raised-button color="warn" [mat-dialog-close]="true">Borrar</button>
</mat-dialog-actions>
