<mat-toolbar color="primary">
  <h2 mat-dialog-title>Añadir tarea</h2>
  <button mat-icon-button mat-dialog-close class="example-icon">
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>


  <form [formGroup]="tareaForm" (ngSubmit)="onSubmit()">
    <mat-dialog-content>
    <p>
      <mat-form-field class="example-full-width">
        <mat-label>Título</mat-label>
        <input type="text" matInput formControlName="titulo" placeholder="">
        <mat-hint>El titulo debe de tener un caracter mínimo</mat-hint>
        <mat-error *ngIf="tareaForm.controls.titulo.invalid
       && tareaForm.controls.titulo.touched">
          Por favor introduce un titulo válido
        </mat-error>
        <mat-error *ngIf="tareaForm.controls.titulo.invalid">
          Titulo es <strong>requerido</strong>
        </mat-error>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field class="example-full-width">
        <mat-label>Descripción</mat-label>
        <textarea type="text" matInput formControlName="descripcion" placeholder="" id=description></textarea>
        <mat-hint>La descripcion no puede superar los 100 caracteres</mat-hint>
        <mat-error *ngIf="tareaForm.controls.descripcion.invalid">
          Se han superado los 100 caracteres
        </mat-error>
      </mat-form-field>
    </p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close>Cancel</button>
  <button mat-raised-button color="primary" type="submit" [disabled]="!tareaForm.valid" [mat-dialog-close]="true">Añadir</button>
</mat-dialog-actions>
</form>
