h2{
  padding: 24px;
}

p{
  margin-bottom: 35px;
  margin-left: 35px;
}

.example-icon{
  position: absolute;
  right: 30px;
}

mat-dialog-content{
  padding: 24px;
}

mat-dialog-content *{
  width: 90%;
}

#description{
  height: 50px !important;
}

mat-dialog-actions{
  padding: 24px;
}
